Capstone-n8n.json
{
  "name": "Capstone Voice Assistant",
  "nodes": [
    {
      "parameters": {
        "path": "capstone-voice",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "6d1c74d5-7a85-478f-80ef-93f4a0bf7d7a"
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "student",
        "query": "={{ { \"rollNumber\": $json.rollNumber } }}",
        "limit": 1
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        460,
        300
      ],
      "id": "mongodb-query",
      "name": "Get Student Data",
      "credentials": {
        "mongoDb": {
          "id": "YvVNXbuZ8hlkQ0U7",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        900,
        460
      ],
      "id": "gemini-model",
      "name": "Gemini Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MA9fF508qc6e4INP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"You are an academic assistant. Answer this student's question based ONLY on their data below.\\n\\nStudent Data:\\n\" + JSON.stringify($json, null, 2) + \"\\n\\nStudent Question: \" + $('Webhook').item.json.query + \"\\n\\nRULES:\\n1. Answer in 1-2 short sentences suitable for voice output.\\n2. NEVER make up information. Only use the data provided above.\\n3. If data is missing, say 'I don't have that information in your records.'\\n4. Be specific and accurate.\\n5. Don't mention JSON or technical terms in your response.\" }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        680,
        300
      ],
      "id": "llm-chain",
      "name": "AI Response Generator"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.text, \"query\": $('Webhook').item.json.query, \"rollNumber\": $('Webhook').item.json.rollNumber } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ],
      "id": "respond-webhook",
      "name": "Send Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Student Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Student Data": {
      "main": [
        [
          {
            "node": "AI Response Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response Generator": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Response Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-17T00:00:00.000Z",
  "versionId": "new-version"
}
